*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    z-index: 1;
    height: 100vh;
    width: 100%;
    background-image: url(/Project1/images/bgi.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
h1 {
    z-index: 2; /* Set a higher z-index for headings */
    position: relative;
    color: rgba(255, 255, 255, 0.9); /* Adjust the opacity to brighten the text */
}
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Adjust the opacity (0.5 in this case) to control the darkness */
}
.navbar{
    width:100%;
    height: 15vh;
    margin:auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 120px;
    height: 120px;
    cursor:pointer;
    margin-top: 50px;
    border-radius: 70px;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul{
    padding:8px;
  /*  background-color: #666;*/
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    padding: 8px;
    text-decoration: none;
    color:#ffffff;
    font-weight: bold;
}
li a:hover {
    background-color: #000000;
    color: #ffffff;
}  
.content1 h1{
    z-index: 1; 
    font-size: 60px;
    font-weight: 100;
    margin-top: 50px;
    margin-bottom: 15px;
    margin-right: 80px;
    margin-left: -40px;
    color: rgba(255, 255, 255, 0.9);  
    text-align: center;
}
.tab1parent{
    display: flex;
    flex-direction: column;
}
.content1{
    margin-left: 10%;
    margin-top: 10%;
}
.feature-img{
    height:80%;
    width: 35%;
    position: absolute;
    bottom: 50;
    right: 115px;
}
.social-links{
    position: fixed;
    left: 50px;
    bottom: 150px;
}
.social-links img{
    padding-right: 10px;
    width: 45px;
    height: auto;
}
nav ul li a {
    display: inline-block;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.4s;
}
a:hover, a:focus {
transform: rotateY(360deg);
}
a div {
position: absolute;
backface-visibility: hidden;
}
.back {
transform: rotateY(180deg);
}
body.fade-out {
opacity: 0;
}

.tab-links a.active {
    background-color: #fff;
    color:rgb(0, 0, 0);
}
.tab-links li {
    display: inline;
}

.content1 {
z-index: 1;
display: none;
padding: 10px;
}

.content1.active {
display: block;
}

/*********************contactus*******************************/

.contact{
    position: relative;
    min-height: 10vh;
    padding: 50px 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    margin-top: -150px;
    margin-left: -85px;
    margin-right: -9px;
}
.tab1 h1{
    color: rgba(255, 255, 255, 0.9); /* Adjust the opacity to brighten the text */
    position: absolute;
    z-index: 2;
}
.tab5 h1{
    text-align: left;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 600;
    color:rgb(255, 255, 255);

}
.contact .content p{
    font-weight: 300;
    color:rgb(255, 255, 255);
        
}
.container2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 30px;
}
.container2 .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container2 .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container2 .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: rgb(183, 177, 169);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container2 .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:rgb(255, 255, 255);
    flex-direction: column;
    font-weight: 300;
}
.container2 .contactinfo .box .text h3{
    font-weight: 500;
    color:rgb(251, 247, 241);
}
.map {
    border: 2px solid #ccc; /* Adjust the color and width as needed */
    border-radius: 8px; /* Optional: Add rounded corners */
}
.map-frame{
    width: 100px;
    height: 50px;
    padding:2px;
    margin-left: 20px;
    margin-top: 20px;
}

/**/
.auth-buttons {
    display: flex;
    align-items:center;
    text-align: right;
    margin-left: auto;
}
.sign-btn {
    background-color: #60656b; /*Button color*/
    border: none;
    color: white;
    padding: 10px 20px; 
    cursor: pointer;
    margin-left: 10px; /*spacing between buttons */
}
.sign-btn:hover {
    background-color: #000000; /*button color on hover*/
}

/*********************artworks*******************************/

.artwork{
    position: relative;
    min-height: 75vh;
    max-width: 800px;
    padding: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-size: 100%;
    margin-top: -150px;
    margin-left: 108px;
    margin-right: -9px;
    max-width: 800px;
    text-align: center;
}
.custom-button {
    background-color: #43464b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.custom-button a {
    text-decoration: none;
    color: #fff;
}
.custom-button:hover {
    background-color: #000000;
}
.content1.custom-button {
    transition: transform 0.3s ease-in-out; /* Added smooth transition */
}
.content1.custom-button:hover{
    transform: scale(1.2);
}
.artwork h1{
    margin-top: 10%;
    margin-right: 10px;
    text-align: center;
}
/*********************artists*******************************/
.artist{
    position: relative;
    min-height: 75vh;
    max-width: 800px;
    padding: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-size: 100%;
    margin-top: -150px;
    margin-left: 108px;
    margin-right: -9px;
    max-width: 800px;
    text-align: center;
}
.custom-button {
    background-color: #3a3b3d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}
.custom-button a {
    text-decoration: none;
    color: #fff;
}
.custom-button:hover {
    background-color: #000000;
    transform: scale(1.2);
}
.artist h1{
    margin-top: 10%;
    margin-right: 10px;
    text-align:center;
}
/*********************footer*******************************/
/* Reset some default styles */
.footr, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
footer {        /*style for entire footer */
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;
}
/* Style for the footer container, which centers the content */
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}
/* Style for the footer logo */
.footer-logo {
    font-size: 30px;
}
/* Style for the footer contact information */
.footer-contact {
    flex: 1;
    margin: 10px;
}
.footer-contact p {
    margin-bottom: 10px;
}
/* Style for the social media icons */
.social-icons {
    display: flex;
    align-items: center;
}
.social-icons a {
    margin-right: 10px;
}
.social-icons img {
    width: 40px;
    height: 40px;
}
/*************************Abtus**************************************/
.about-us {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

/* Style for the image on the "About Us" page */
.about-us-image img {
    max-width: 100%;
    height: auto;
}

/* Style for the "About Us" text */
.about-us-text {
    flex: 1;
    padding: 20px;
    margin-left: 60px;
}

.about-us-text h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 80px;

}

.about-us-text p {
    margin-bottom: 20px;
}
/*********************About us*******************************/
.about-us{
    zoom: 120%;
    position: relative;
    width: fit-content;
    height: fit-content;
    min-height: 75vh;
    max-width: 800px;
    padding: 50px 100px;
    margin: 50px 0;
    display: flex;
    justify-content:center;
    flex-direction: column;
    background-size: cover;
    margin-top: -150px;
    margin-left: 108px;
    margin-right: -9px;
    max-width: 800px;
    text-align: center;
    align-items: center;
}
.about-us .heading{
    max-width: 1000px;
    text-align: right;
}
.about-us .heading h1{
    font-size: 36px;
    font-weight: 600;
    color:rgb(231, 228, 228);
    text-align: center;
    margin-left: 160px;
}
.about-us p{
    max-width: 550px;
    color:rgb(255, 255, 255);  
    margin-right: -290px;  
    font-weight:500;
}
.about-us img{
    height:65%;
    width: auto;
    float: left;
    margin-left: -250px;
    position:absolute;
    top: 70px;
    left: 130px;
}

/************************************************************************************/
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.anmt {
    animation: float 2s infinite;
}